*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.NavClass{
  position: fixed !important;
  z-index: 2;
  background: transparent !important;
  width: 100% !important;
  padding: 20px 5% !important;
}

.frontPage{
   display: grid;
   grid-template-columns: 1fr 1fr;
   position: relative;
}

.frontpageimg {
  width: 100%; 
  height: auto;
}
.rightt{
  margin-top: 20%;
}
.div{
 z-index: 2;
  position: absolute;
  top: 88vh;
  left: 20%;  
}
.FDiv{
  display: flex;
  flex-wrap: wrap; 
  gap: 30px;
  justify-content: space-between;
}
.firstDIv {
  flex: 1 1 300px; 
  max-width: 300px; 
  margin-bottom: 20px;
}
.CardSubTxt{
  color: rgb(53, 147, 248) !important;
  font-size: 25px !important;
}
.cardTxt , .right{
  color: gray;
}
.cardBody{
  padding: 10px;
  box-shadow: 4px 13px 12px 10px rgba(186, 182, 182, 0.6);
}

.navlinks{
  display: flex;
  gap: 20px;
  color: black;
}
.navlinks .nav-link:hover{
  color:blue
}
.navbutton1{
  background-color: white;
  color: orange;
  border: 1px solid orange;
  font-size: 16px;
  border-radius: 5px;
  padding: 0px 18px ;
}
.navbutton1:hover{
  color:blue;
}

.navbutton2{
  background-color:orange;
  color: white;
  padding: 6px 18px;
  border: 1px solid orange;
  border-radius: 5px;
}
.navbutton2:hover{
  color:blue
}
.btn-fistpage{
  background-color:rgb(255, 195, 84);
  color: white;
  padding: 10px 20px;
  border: 1px solid orange;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease; 
}
.btn-fistpage:hover {
  background-color: orange; 
  color: black; 
  border: 1px solid darkorange;
}
.sevenpage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin: 5%;
  gap: 30px;
}
.Eightpage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin: 5%;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .frontPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .rightt {
    margin-top: 10%;
  }
  .div {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* .div {
    top: 75vh;
    left: 10%;
    width: 80%;
    text-align: center;
  } */

  .navlinks {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .sevenpage {
    display: flex;
    flex-direction: column;
  }
  .sevenpage .left img {
    width: 100%;
  }
  .Eightpage{
    display: flex;
    flex-direction: column;
  }
  .Eightpage  iframe{
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .div {
    
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
  }
  /* .div {
    top: 75vh;
    left: 10%;
    width: 80%;
    text-align: center;
  } */
  .sevenpage {
    display: flex;
    flex-direction: column;
  }
  .sevenpage .left img {
    width: 100%;
  }
  .Eightpage{
    display: flex;
    flex-direction: column;
  }
  .Eightpage  iframe{
    width: 100%;
  }
}

@media (min-width: 1440px) and (max-width: 2546px) {
  .div {
    
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center !important;

  }
  /* .div {
    top: 75vh;
    left: 10%;
    width: 80%;
    text-align: center;
  } */
}

@media (min-width: 320px) and (max-width: 768px) {
  .frontPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .rightt {
    margin-top: 10%;
  }
  .div {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
  }
  /* .div {
    top: 75vh;
    left: 10%;
    width: 80%;
    text-align: center;
  } */
  .sevenpage {
    display: flex;
    flex-direction: column;
  }
  .sevenpage .left img {
    width: 100%;
  }
  .Eightpage{
    display: flex;
    flex-direction: column;
  }
  .Eightpage  iframe{
    width: 100%;
  }
}